
<div class="top-text">
  <h1>Edit Your Card Below</h1>
</div>

<div>

  <%= form_for @person_user, url: card_spec_path do |f|%>

    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :headline %>
      <%= f.text_field :headline %>
    </p>
    <p>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </p>
    <p>
      <%= f.label :email_address %>
      <%= f.text_field :email_address %>
    </p>
    <p> <%= f.submit "Make Change" %> </p>

  <% end %>

</div>
