
<h1>Edit</h1>

<div>

  <%= form_for @person_user, url: card_spec_path do |f|%>

    <span>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </span>
    <span>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </span>
    <span>
      <%= f.label :headline %>
      <%= f.text_field :headline %>
    </span>
    <span>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </span>
    <span>
      <%= f.label :email_address %>
      <%= f.text_field :email_address %>
    </span>
    <span> <%= f.submit "Make Change" %> </span>
    
  <% end %>

</div>
