
<!-- <div>
  <div class="top-text" id="editcard-title"></div>
  <div id="editcard-form"></div>
</div> -->

<div>

  <%= form_for @person_user, url: card_spec_path(@person_user) do |f|%>

    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :headline %>
      <%= f.text_field :headline %>
    </p>
    <p>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </p>
    <p>
      <%= f.label :email_address %>
      <%= f.text_field :email_address %>
    </p>
    <p> <%= f.submit "Make Change" %> </p>

  <% end %>

</div>
